
// -----------------------
// - HTML Element Styles -
// -----------------------

body {
	background-color:#f2f2f2;
	font-family:lato,sans-serif;
	font-weight:300;
	font-size:16px;
	color:#555;
	-webkit-font-smoothing:antialiased;
	-webkit-overflow-scrolling:touch;
}

h1, h2, h3, h4, h5, h6 {
	font-family:lato,sans-serif;
	font-weight:300;
	color:#333;
}

h1 {
	font-size:40px;
}

h3 {
	color:#95a5a6;
	font-weight:400;
}

h4 {
	color:#95a5a6;
	font-weight:400;
	font-size:20px;
}

p {
	line-height:28px;
	margin-bottom:25px;
	font-size:16px;
}

a {
	color:#3498db;
	word-wrap:break-word;
	-webkit-transition:color .1s ease-in, background .1s ease-in;
	-moz-transition:color .1s ease-in, background .1s ease-in;
	-ms-transition:color .1s ease-in, background .1s ease-in;
	-o-transition:color .1s ease-in, background .1s ease-in;
	transition:color .1s ease-in, background .1s ease-in;
}

a:hover, a:focus {
	color:#7b7b7b;
	text-decoration:none;
	outline:0;
}

a:before, a:after {
	-webkit-transition:color .1s ease-in, background .1s ease-in;
	-moz-transition:color .1s ease-in, background .1s ease-in;
	-ms-transition:color .1s ease-in, background .1s ease-in;
	-o-transition:color .1s ease-in, background .1s ease-in;
	transition:color .1s ease-in, background .1s ease-in;
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #ccc;
	margin:1em 0;
	padding:0;
}

i {
	margin:8px;
	color:#3498db;
}

// ------------------
// - Helper Classes -
// ------------------

.vert-spacing {
	margin-top:40px;
	margin-bottom:40px;
}

.form-control {
	height:42px;
	font-size:18px;
	width:280px;
}

.centered {
	text-align:center;
}

// -----------------------
// - Margins and Padding -
// -----------------------

.mt-5 {margin-top: 5px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-15 {margin-top: 15px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-25 {margin-top: 25px !important;}
.mt-30 {margin-top: 30px !important;}

.mb-5 {margin-bottom: 5px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-15 {margin-bottom: 15px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-25 {margin-bottom: 25px !important;}
.mb-30 {margin-bottom: 30px !important;}

.ml-5 {margin-left: 5px !important;}
.ml-10 {margin-left: 10px !important;}
.ml-15 {margin-left: 15px !important;}
.ml-20 {margin-left: 20px !important;}
.ml-25 {margin-left: 25px !important;}
.ml-30 {margin-left: 30px !important;}

.mr-5 {margin-right: 5px !important;}
.mr-10 {margin-right: 10px !important;}
.mr-15 {margin-right: 15px !important;}
.mr-20 {margin-right: 20px !important;}
.mr-25 {margin-right: 25px !important;}
.mr-30 {margin-right: 30px !important;}

.pt-5 {padding-top: 5px !important;}
.pt-10 {padding-top: 10px !important;}
.pt-15 {padding-top: 15px !important;}
.pt-20 {padding-top: 20px !important;}
.pt-25 {padding-top: 25px !important;}
.pt-30 {padding-top: 30px !important;}

.pb-5 {padding-bottom: 5px !important;}
.pb-10 {padding-bottom: 10px !important;}
.pb-15 {padding-bottom: 15px !important;}
.pb-20 {padding-bottom: 20px !important;}
.pb-25 {padding-bottom: 25px !important;}
.pb-30 {padding-bottom: 30px !important;}

.pl-5 {padding-left: 5px !important;}
.pl-10 {padding-left: 10px !important;}
.pl-15 {padding-left: 15px !important;}
.pl-20 {padding-left: 20px !important;}
.pl-25 {padding-left: 25px !important;}
.pl-30 {padding-left: 30px !important;}

.pr-5 {padding-right: 5px !important;}
.pr-10 {padding-right: 10px !important;}
.pr-15 {padding-right: 15px !important;}
.pr-20 {padding-right: 20px !important;}
.pr-25 {padding-right: 25px !important;}
.pr-30 {padding-right: 30px !important;}

// -----------------
// - Navbar Styles -
// -----------------

.navbar-default {
	background-color:#3498db;
	border-color:transparent;
	font-size:20px;
	color:#fff;
}

.navbar-default .navbar-brand {
	color:#fff;
}

.navbar-default .navbar-nav > li > a {
	color:#fff;
}

// --------------------------
// - Homepage Header Styles -
// --------------------------

#headerwrap {
	background-color:#3498db;
	margin-top:-20px;
	padding-top:75px;
	background-attachment:relative;
	background-position:center center;
	min-height:500px;
	width:100%;
	-webkit-background-size:100%;
	-moz-background-size:100%;
	-o-background-size:100%;
	background-size:100%;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}

#headerwrap h1 {
	margin-top:60px;
	margin-bottom:15px;
	color:#fff;
	font-size:45px;
	font-weight:300;
	letter-spacing:1px;
}

#headerwrap h2 {
	margin-top:50px;
	margin-bottom:15px;
	color:#fff;
	font-size:45px;
	font-weight:300;
	letter-spacing:1px;
}
